[incldue]
    path = .gitconfig.local
[user]
    name = Wataru TOYA
    email = watrty@gmail.com
[core]
    excludesfile = ~/.gitignore
    editor = vim -u NONE -i NONE -N -c 'syntax on'
    pager = lv -c
[diff]
    algorithm = histogram
[push]
    default = current
[alias]
    st  = status
    lop = log -p
    ca  = commit -av
    ci  = commit -v
    ap  = add -p
    br  = branch
    co  = checkout
    df  = diff
    pr  = pull --rebase
    gp  = grep -n --color
    puhs = push
    psuh = push
    pus  = push
    puh  = push
[color]
    ui = auto
[i18n]
    commitencoding = utf-8
[ghq]
    root = ~/git
[credential]
    helper = osxkeychain
