[user]
    name = Wataru TOYA
    email = watrty@gmail.com
[core]
    excludesfile = ~/.gitignore
    editor = vim -u NONE -i NONE -N -c 'syntax on'
[diff]
    algorithm = histogram
[push]
    default = current
[alias]
    st  = status --branch --short
    tst = st
    s   = st
    lop = log -p
    ca  = commit -av
    ci  = commit -v
    ap  = add -p
    br  = branch
    co  = checkout
    com = checkout master
    df  = diff
    dc  = diff --cached
    pr  = pull --rebase
    gg  = grep -H --heading --break --color
    puhs = push
    psuh = push
    pus  = push
    puh  = push
    vim  = !git ls-files | fzf | xargs -o code
    delete-merged = !git branch --merged | grep -v -e \\* -e master -e devel -e main | xargs -I % git branch -d %
    sc = switch -c
[color]
    ui = auto
[color "grep"]
    filename = blue
    linenumber = yellow
    separator = white
[grep]
    lineNumber = true
[i18n]
    commitencoding = utf-8
[credential]
    helper = osxkeychain
[pull]
	rebase = merges
[init]
	defaultBranch = main
[include]
    path = ~/.gitconfig.local
