[user]
    name  = Wataru TOYA
    email = watrty@gmail.com
[core]
    excludesfile = ~/.gitignore
[alias]
    st  = status
    lop = log -p
    ca  = commit -av
    ci  = commit -v
    ap  = add -p
    br  = branch
    co  = checkout
    df  = diff
    pr  = pull --rebase
    gp  = grep -n --color
[color]
    ui = auto
[i18n]
    commitencoding = utf-8
